<!-- 
Creado por CtrlProgrammer
Derechos de autor Hewks.net
Wrapper animado 
-->

<!-- Main Marketing digital Wrapper animado -->
<section class="marketing-digital-section">
    <div class="custom-color-background">
        <span class="an-text madise-title">Marketing Digital</span>
        <span class="an-icon "><i class="fas fa-bullhorn"></i></span>
    </div>
    <div class="custom-color-background">
        <p class="an-text">Combinamos herramientas digitales para que tu negocio crezca como nunca antes.</p>
        <span class="an-icon "><i class="fas fa-chart-bar"></i></span>
    </div>
    <div class="custom-color-background">
        <p class="an-text">Nos encargamos de que tus redes sociales se mantengan en constante crecimiento.</p>
        <span class="an-icon"><i class="fab fa-instagram"></i></span>
    </div>
    <div class="custom-color-background">
        <p class="an-text">Creamos contenido digital para que tus seguidores se mantengan informados.</p>
        <span class="an-icon"><i class="fas fa-camera-retro"></i></span>
    </div>
    <div class="custom-color-background">
        <p class="an-text">Dirigimos adecuadamente las publicaciones, consiguiendo seguidores leales y seguros.</p>
        <span class="an-icon"><i class="fas fa-user-astronaut"></i></span>
    </div>
    <div class="custom-color-background">
        <p class="an-text">Publicamos contenido ideal para que tu marca se mantenga en lo alto.</p>
        <span class="an-icon"><i class="fas fa-search-dollar"></i></span>
    </div>
</section>
<!-- /Main Marketing digital Wrapper animado -->